h1{
    background-color: black;
color:red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.button{
    text-align: center;
    margin: 40px;
}
.download-button{
    
    
   background: green;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 20px;
 cursor: pointer;
}

button:hover{
    background-color: red;
    color: white;
}
p
{
    text-align: center;
    font-size: 30px;


} 
.row { 
    display:flex;
    justify-content: center;
    
}
body {
    min-height: 100vh;
    background-image: url("../images/back.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
