body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: red;
    text-align: center;
}
h2 {
  
    color: black;
    padding: 10px;
    text-align: center;
}



h3{   
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    
}
h4{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
footer{
margin-top: auto;
  bottom: 0;
  width: 99%;
  }

body {
    margin: 0;
    min-height: 100vh;

    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
